h1 {
            text-align: center;
}
#cen {
       text-align: center;     
}
#fn {
            color: red;
}
#ln {
            color: red;
}
#pass {
            color: red;
}
#gen {
            color: red;
}