<h1>Signup Details</h1>
<div id="cen">
<label id="fn">
            First Name:
            <input type="text" formControlName="firstName">
</label>
<br>
<label id="ln">
            Last Name:
            <input type="text" formControlName="lastName">
</label>
<br>
<label id="pass">
            Password:
            <input type="number" formControlName="Password">
</label>
<br>
<label id="gen">
       gender<br>
       <div>
       Male:
       <input type="radio" value="1" formControlName="male"> 
       <br>
            Female:
       <input type="radio" value="1" formControlName="female">   
     </div>  
</label>
<br>
<button type="submit" [disabled]="!profileForm.valid">Submit</button>

</div>