
/* 
            .edit {
                        color: yellow;
background-color:black;
                        font-size: 1.5em;
            } */
            .excellent {
                        color: blue;

            }
            .verygood {
                        color:yellow ;
            }
            .good {
                        color: red;
            }