<!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group> -->




<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3">
      <mat-sidenav-container class="example-container" style="height: 1000px;">
        <mat-sidenav mode="side" opened>
          <ul>
            <li>
              <a routerLink="Autocomplete" routerLinkActive="active">autocomplete</a>
            </li>

            <li>
              <a routerLink="Date" routerLinkActive="active">Date</a>
            </li>
            <li>
            <a routerLink="Buttons" routerLinkActive="active">Buttons</a>
          </li>
          <li>
            <a routerLink="Badge" routerLinkActive="active">Badge</a>
          </li>
          <li>
            <a routerLink="Bottom" routerLinkActive="active">Bottom</a>
          </li>
          </ul>
        </mat-sidenav>

        <div class="col-sm-9">

          <router-outlet></router-outlet>
        </div>

      </mat-sidenav-container>
    </div>

  </div>

</div>